@use "../../../styles/abstracts/colors";

.card{
    background-color: white;
    height: 18rem;
    width: auto;
    position: relative;

    border-radius: 10px;

    margin: 6rem 0 0;
    padding: 4rem 2rem 0;
    

    &__title{
        color: colors.$very-dark-violet;
        margin-bottom: 1rem;
        padding-top: 1.5rem;
    }

    &__text{
        color : colors.$grayish-violet;
        line-height: 1.6rem;
    }

    &__icon{
        position: absolute;

        top: -3rem;
        left: 50%;
        margin-left: -3rem;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 6rem;
        height: 6rem;
        border-radius: 100px;
        background-color: colors.$dark-violet;

    }

}