@use "../../styles/abstracts/colors";


.statistics{
    padding-top: 9rem;
    padding-bottom: 5rem;
    background-color: #eff1f7;
    text-align: center;


    &__content{

        margin: 0 2rem;

        h2{
            color: colors.$very-dark-violet;
            margin-bottom: 1rem;
        }

        p{
            color : colors.$grayish-violet;
            line-height: 1.6rem;
            margin-bottom: 6rem;
        }

        &__card{
            position: relative;
        }

        &__cardline{
            width: 7.5px;
            height: 50rem;

            background: colors.$cyan;

            position: absolute;
            left: 50%;
            margin-left: -3.25px;
        }
    }
}