@use "../../styles/abstracts/colors";


.statistics{
    padding-top: 6rem;
    padding-bottom: 5rem;
    background-color: #eff1f7;
    text-align: center;

    &__link_container{
        &--mobile{
            display: block;
        }
        &--desktop{
            display: none;
        }
    }
   


    &__content{

        margin: 0 2rem;

        h2{
            margin-top: 3rem;
            color: colors.$very-dark-violet;
            margin-bottom: 1rem;
        }

        p{
            color : colors.$grayish-violet;
            line-height: 1.6rem;
            margin-bottom: 6rem;
        }

        &__card{
            position: relative;
        }

        &__cardline{
            width: 7.5px;
            height: 50rem;

            background: colors.$cyan;

            position: absolute;
            left: 50%;
            margin-left: -3.25px;
        }
    }
}

@media(min-width: 1060px){
    .statistics{
        &__link_container{
            &--mobile{
                display: none;
            }
            &--desktop{
                display: block;
            }
        }
    }
}