@use "../../styles/abstracts/colors";

.footer{
    background: colors.$very-dark-violet;
    color: white;

    text-align: center;

    h1{
        padding: 2.5rem 0;
    }

    &__social_media{
        padding: 0.5rem 0 3.5rem;

        svg{
            margin: 0 0.8rem;
        }
    }

    &__links{

        display: flex;
        flex-direction: column;

        padding-bottom: 1.5rem;

        span{
            padding-bottom: 0.5rem;
            color: colors.$grayish-violet;
        }

        :first-child{
            font-weight: 700;
            padding-bottom: 1.5rem;
            color: white;
        }

      
    }
}

@media(min-width: 1060px){
    .footer{
        display: flex;

        h1{
            flex: 1;
        }

        &__links{
            margin: 3.5rem 2rem 0;

            :first-child{
                &:hover{
                    color: white;
                    cursor: default;
                }
            }

            span{
                
               

                &:hover{
                    color: colors.$cyan;
                    cursor: pointer;
                }

                
            }
        }

        &__social_media{
            margin: 3.15rem 5rem 0;
            margin-top: 3.15rem;

            }
            :hover{
                fill: colors.$cyan;

            }
            
        }
    

    }
