@use "../../styles/abstracts/colors";

.boost{
    background: colors.$dark-violet;
    overflow-x: hidden;
    height: 300px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__background{
        &--mobile{
            display: block;
        }
        &--desktop{
            display: none;
        }
    }

    &__content{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            color: white;
        }
        
        &__button{
            background: colors.$cyan;

            margin-top: 1.5rem;
            padding: 1.3rem 4rem;

            outline: none;
            border: none;

            font-weight: 700;
            color: white;

            border-radius: 100px;
        }
    }
}

@media(min-width: 1060px){
    .boost{
        height: 250px;
        
        &__background{
            &--mobile{
                display: none;
            }
            &--desktop{
                display: block;
            }
        }

        &__content{
            &__button{
                &:hover{
                    opacity: 80%;
                    cursor: pointer;
                }
            }
        }
    }
}