@use "../../styles/abstracts/colors";

.nav__container{

    position: relative;

    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.5rem 1.5rem 0;
    
    
        &__menu__icon{
            color: colors.$grayish-violet;
            font-size: 1.8rem;
        }
    }
    
    .modal__container{

        display: flex;
        justify-content: center;
        

        .modal{
            width: 80%;
            height: 340px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            background: colors.$dark-violet;
            border-radius: 10px;

            position: absolute;
            top: 6rem;

            a{
                color: white;
                padding: 0.9rem;
                font-weight: 500;
            }

            hr{
                width: 80%;
                margin: 1rem;
                color: colors.$grayish-violet;
            }
        }
    }
}

    


