@use "../../styles/abstracts/colors";

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 1.5rem 0;


    &__menu__icon{
        color: colors.$grayish_violet;
        font-size: 1.8rem;
    }

}