@use "../../styles/abstracts/colors";

.link{
    background: white;

    height: 9rem;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 2rem 1rem;


    &__line{
        height: 1px;
        width: 100%;
        background: colors.$grayish-violet;
        opacity: 50%;
    }

    &__complete{
        padding: 0.65rem;
        padding-left: 1rem;
        width: 100%;
        text-align: left;
        

    }

    &__short{
        color: colors.$cyan;
    }

    &__button{
        background: colors.$cyan;
        color: white;
        font-weight: bold;
        width: 90%;
        height: 2.4rem;

        border: none;
        border-radius: 5px;

        &--copied{
            background: colors.$dark-violet !important;
        }
    }
}

@media(min-width: 1060px){
    .link{
        
        margin: 0 10rem 1rem;
        height: 4rem;
        flex-direction: row;

        &__complete{
            flex: 1;
            margin-left: 1rem;
        }

        &__line{
            display: none;
        }

        &__button{
            width: 5.5rem;
            margin: 0 1.5rem;

            &:hover{
                opacity: 80%;
                cursor: pointer;
            }
        }
    }
}